# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Model files (often large)
*.keras
*.h5
*.pb
saved_models/
training/
train-checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and runtime
*.log

# Compiled files and build artifacts
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
